@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
.App {
	display: flex;
	flex-direction: column;
}

.nav {
	text-align: center;
	background-color: #101927;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	line-height: 19px;
	font-weight: 400;
	font-size: 19px;
	color: #fff;
}

.hidden {
	display: none;
}

#btn {
	color: #20a867;
	border: 1px solid #20a867;
	padding: 0.5rem;
	border-radius: 10px;
	text-decoration: none;
	line-height: 17px;
	font-weight: bolder;
	font-size: 1.5rem;
	margin: 1rem;
	background-color: #101927;
	font-family: SourceCodePro, monaco, Courier, monospace;
	width: max-content;
	cursor: pointer;
}

.contest-component {
	border-radius: 20px;
	background-color: #101927;
	color: #fff;
	padding: 2rem;
	margin: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	font-family: "Fira Sans", sans-serif;
}

.contest-component > div > a {
	justify-content: center;
	justify-items: center;
}

.contest-component:hover {
	background-color: #1c2433;
}

.comp-div {
	display: flex;
	flex-direction: column;
	background-color: #050d1a;
}

.contest-name {
	font-size: 2rem;
}

.span > h4 {
	display: inline-block;
	margin-right: 20px;
}

.link {
	color: #20a867;
	border: 1px solid #20a867;
	padding: 0.5rem;
	border-radius: 10px;
	text-decoration: none;
	line-height: 17px;
	font-weight: bolder;
	font-size: 1.5rem;
	font-family: SourceCodePro, monaco, Courier, monospace;
}

.link:hover {
	background-color: #050d1a;
}

.site-name {
	color: #20a867;
}

.contest-img {
	height: 200px;
	width: 200px;
	border-radius: 20px;
}

.link-div {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
